*{
	font-family: Verdana;
}
#baner{
	background-color: cyan;
	height: 50px;
	text-align: center;
}

#panel{
	background-color: gray;
	width: 100%;
	float: right;
	margin-bottom: 20px;
}
#welcome{
	float: left;
	margin-left: 8px;
}
#guziki{
	float: right;
	margin-top: 20px;
}
#panel a{
	text-decoration: none;
	font-size: 150%;
	border: 1px solid black;
	border-radius: 5%;
	color: blue;
	background-color: cyan;
	margin: 10px;
}
table, td, th{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
table{
	width: 100%;
	background-color: gray;
	margin-top: 20px;
}
td{
	with: 100%;
}
th{
	font-size: 120%;
}
main{
	background-color: cyan;
}
section#sklep{
	background-image: url('sklep.jpg');
	height: 500px;
	width: 100%;
}
header#h{
	background-color: gray;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}
#login > h4{
	letter-spacing: 1.5px;
	color: cyan;
}
#login{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 130%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 300px;
	height: 300px;
	text-align: center;
	color: black;
	border: 2px solid black;
	border-radius: 20%;
}

header > h2{
	text-align: center;
}
input{
	vertical-align: center;
}
label{
	display: inline-block;
	width: 120px;
}
#register{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 130%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 300px;
	height: 450px;
	text-align: center;
	color: black;
	border: 2px solid black;
	border-radius: 20%
}	

#register > h4{
	letter-spacing: 1.5px;
	color: cyan;
}
section#elo{
	background-image: url("sklep.jpg");
	float: left;
	width: 100%;
	border: 2px solid black;
}
footer{
	clear: both;
	background-color: gray;
	height: 80px;
	text-align: center;
	padding-top: 10px;
	border: 2px solid black;
}
.butony{
	width: 25%;
	float: left;
	text-align: center;
}
button{
	background-color: #04AA6D; /* Green */
	border: 1px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
#sss{
	background-image: url("sklep.jpg");
}